.pizzaPic {
  width: 150px;
  height: 150px;
}
.pizzaDiv {
  display: inline-block;
  width: 30%;
  height: 35%;
  border: 1px solid black;
  margin: 10px;
  vertical-align: top;
  padding-bottom: 1rem;
  background-color: white;
}
